repos:

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: check-docstring-first
    -   id: check-json
    -   id: requirements-txt-fixer

-   repo: https://github.com/psf/black
    rev: 25.12.0
    hooks:
    -   id: black
